<div>

  <div class="form-group">
    <input type="text" placeholder="Find..." ng-model="$ctrl.query">

    <select ng-model="$ctrl.orderProp" aria-placeholder="sort by">
      <option value="name">Sort by Name</option>
      <option value="age">Sort by Age</option>
      <option value="address">Sort by Address</option>
      <option value="email">Sort by Email</option>
    </select>
  </div>

  <a class="user-list__create-button" href="#!/users/create">Create User</a>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Adress</th>
        <th>E-mail</th>
        <th>Age</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in $ctrl.users | filter:$ctrl.query | orderBy:$ctrl.orderProp">
        <td>{{ user.name }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.age }}</td>
        <td>
          <a href="#!/users/{{ user._id }}">Update</a>
        </td>
        <td>
          <a ng-click="$ctrl.handleClick(user._id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>

  <p class="user-list__error">{{ $ctrl.error }}</p>
  <p class="user-list__successful">{{ $ctrl.successful }}</p>
</div>
</div>