.form-group * {
  padding: 0.75em;
  background: none;
  border: none;
  border-bottom: 2px solid #00cccc;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);    
  display: block;
  margin: 25px auto;
  min-width: 25%;
}

.user-list__create-button {
  display: block;
  margin: 25px auto;
  max-width: 250px;

  padding: 0.5em;
  border: none;
  background: #00cccc;
  color: white;
  
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10),
    0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 10px 10px rgba(0, 0, 0, 0.05);
}

table {
  width: 75%;
  font-family: 'Arial';
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10),
    0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05),
    0px 30px 20px rgba(0, 0, 0, 0.05);
}

tr:hover {
  background: #f4f4f4;
}

tr:hover td {
  color: #555;
}

td,
th {
  padding: 0.5em;
  border: 1px solid #eee;
}

td {
  color: #999;
}

td a {
  color: #00cccc;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}

td a:hover {
  color: #999;
}

th {
  background: #00cccc;
  color: #fff;
  text-transform: uppercase;
}

.user-list__error,
.user-list__successful {
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
}

.user-list__error {
  color: red;
}

.user-list__successful {
  color: limegreen;
}